<div class="form">
  <mat-card class="title">
    <mat-card-title>
      Register
    </mat-card-title>
  </mat-card>
  <div>
    <mat-form-field class="matInput">
      <input #username matInput placeholder="username">
    </mat-form-field>
    <div class="iconContainer">
      <mat-icon *ngIf="username.value" color="primary">done_outline</mat-icon>
    </div>
  </div>
  <div>
    <mat-form-field class="matInput">
      <input #password1 matInput type="password" placeholder="password">
    </mat-form-field>
    <div class="iconContainer">
      <mat-icon *ngIf="password1.value" color="primary">done_outline</mat-icon>
    </div>
  </div>
  <div>
    <mat-form-field class="matInput">
      <input #password2 matInput type="password" placeholder="re-type password">
    </mat-form-field>
    <div class="iconContainer">
      <mat-icon *ngIf="password1.value === password2.value" color="primary">done_outline</mat-icon>
    </div>
  </div>
  <div>
    <mat-form-field class="matInput">
      <input #email matInput placeholder="email">
    </mat-form-field>
    <div class="iconContainer">
      <mat-icon *ngIf="email.value" color="primary">done_outline</mat-icon>
    </div>
  </div>
  <button (click)="submit(username.value, password2.value, email.value)" (keyup.enter)="submit(username.value, password2.value, email.value)"
    color="primary" mat-raised-button>Submit</button>
</div>