<div class="top"></div>
<div class="middle">
  <form>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="re-type password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="email">
    </mat-form-field>
  </form>
</div>
<div class="bottom"></div>