<mat-card>
  <mat-card-header>Add Cards</mat-card-header>

  <mat-card-content></mat-card-content>

  <mat-form-field>
    <input #searchField placeholder="search" matInput type="search">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="search(searchField.value)">search</button>
  <mat-card-content *ngIf="currentCard">
    <img mat-card-image src="{{currentCard.imgUrl}}">
    <button mat-raised-button color="primary" (click)="add()">Add?</button>
  </mat-card-content>
</mat-card>