:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  div {
    flex: 1;
    background-image: url("/assets/jaya.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
