<!-- <object type="image/svg+xml" data="/assets/eye2.svg" class="logo">Daybreak Logo</object> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav *ngIf="user">
  <input type="checkbox" id="toggle" name="toggle">
  <label for="toggle" class="hamburger">
    <a>
      <i class="fa fa-bars"></i>
    </a>
  </label>
  <ul class="left">
    <li class="icon">
      <div>
        <object type="image/svg+xml" data="/assets/icon.svg" class="logo">Daybreak Logo</object>
      </div>
    </li>
    <li class="links">
      <ul>
        <li>
          <a href="#home" class="active">Home</a>
        </li>
        <li>
          <a href="search">Search</a>
        </li>
      </ul>
    </li>

  </ul>

  <ul class="right">
    <li class="user">
      <input type="checkbox" id="userToggle" name="userToggle">
      <div>
        <label for="userToggle">{{user.username}}</label>
      </div>
      <ul class="dropdown">
        <li>
          <a href="#settings">Browse</a>
        </li>
        <li>
          <a href="tools">Add</a>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>